
#ignore thumbnails created by windows
Thumbs.db
.*.*
#Don't sync private key
*ppk
Test Save Folder/testsave.xml
*.dll
*.zip
.metadata*
Source/App/.settings/org.eclipse.jdt.core.prefs
Source/App/bin/classes.dex
*bin/*
Source/App/bin/*
Source/App/gen/dimappers/android/pub/R.java
Source/App/proguard.cfg
*.class
Source/App/.settings/org.eclipse.mylyn.tasks.ui.prefs
Source/PubData/.settings/org.eclipse.jdt.core.prefs
Tools/Git Extensions.lnk
Source/ServerTest/.settings/org.eclipse.jdt.core.prefs