<?xml version="1.0" encoding="utf-8"?>
<manifest package="dimappers.android.pub"
      android:versionCode="1"
      android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
	
	<uses-library android:required="true" android:name="com.google.android.maps"/>
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>   
    
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name="LaunchApplication"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Organise" android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity android:name="Guests" android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity android:name="ChooseTime" android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity android:name="ChoosePub" android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name="Pending" android:screenOrientation="portrait"/>
        <activity android:name="Making_Comment" android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity android:name="HostEvents" android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity android:name="UserInvites" android:label="@string/app_name" android:screenOrientation="portrait"/>
        <service android:name="PubService" android:label="PubUpdateChecker"/>
        <activity android:name="NoInternet" android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity android:name="CurrentEvents" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
    </application>
</manifest>